@{
    ViewData["Title"] = "Admin Panel";
}

@{
    Layout = "_Layout";
}

@model LifeBridge.Models.ViewModels.AdminDashboardViewModel

<h2>Admin Dashboard</h2>
<p>
    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="AllUsers">All Users</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="CreateUser">Add User</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="Messages">All Message</a>
</p>

<ul>
    <li>Total Users: @Model.TotalUsers</li>
    @* <li>Blood Requests: @Model.TotalBloodRequests</li>
    <li>Blood Availabilities: @Model.TotalBloodAvailabilities</li>
    <li>Organ Requests: @Model.TotalOrganRequests</li>
    <li>Organ Availabilities: @Model.TotalOrganAvailabilities</li> *@
</ul>
